.navbar{
    background-color: #0b1957; /* Dark Gray Background */
    color: #ffb8c7; /* Light Gray Font */
    font-family:"Quintessential", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: none;
}

.logo{
    font-size: 2.1rem;
    font-weight: normal;
    margin-right: 2rem;
}

.navLinks{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navLinks li{
    display: flex;
    align-items: center;
}

.navLinks li a {
    text-decoration: none;
    color: #ffb8c7;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

.navLinks li a:hover {
    color: #fa9ebc;
}

.socialIcons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.socialIcons a {
    text-decoration: none;
    color: #ffb8c7;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: #fa9ebc;
}