.video-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.video-container:hover iframe{
    transform: scale(1.05);
}